<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <title> Quizz 2</title>
    <div class="container-fluid text-center ">
        <h1> Type of component </h1>
        <img class="center" src="/static/img/logo.png" alt="HTML5 Icon" height="50" width="50" onclick="location.href = '/BioQ/'">
    </div>
</head>
<br>

        <label style="background-color: cornflowerblue; color:white; font-size: 20px;"> {{ name }} </label>
    <br>

            <label style="background-color: cornflowerblue; color:white;font-size: 20px; text-align: right;"> Score: {{ score }} </label>

<body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function(){
        $("#but1").click(function()
        {
            $(".rb").show();
            $(".rb").attr("disabled", true);
            document.getElementById('ref').innerHTML += '<a href="/BioQ/explore" style="text-align: center"> click for more details </a>';

        });
    });

    $(document).ready(function(){
        $("#next").click(function() {
            document.location.reload(true);
        })});


</script>

<table>
    <td> {{ ques.question }}</td>

    {% for item in img%}

        <tr>
  <td> <img id='image' src="/static/img/img/{{ item.name }}.jpg" width="600" height="300" ></td>
        </tr>
    {% endfor %}
<tr>
{% for item in opts %}
   <td> <input type="radio" id="Opt1" class="rb" value="{{  item.answer }}" name="radio">{{ item.answer }}</td>
    </tr>

{% endfor %}
    <tr>

            <td> <input type="radio" id="Opt1" class="rb" value="{{ component}}" name="radio">{{ component }}</td>
    </tr>

        <td>
            <div id="corans" class="rb" value="{{ item.component }}"  style="display:none; color:green">
                <b> {{ component}}</b> <br>
                <div class="wrapper">
                    {% for it in ans %}
                        {{ it.definition }}
                    {% endfor %}
                </div>
            </div>
        </td>

           </div>
<script>
     var score = 0;
    var score_str="";
        $(document).ready(function(){
        $("#but1").click(function() {
            document.querySelectorAll("input").forEach(input => {


                if (input.value == "{{ component }}" & (input.checked)) {
                    console.log("yes");
                    score=score+3 ;
                    score_str= "" + score;
                    console.log(score);

                    console.log("{{ component }}");
                    Swal.fire({
                        title: "Good answer !",
                        text: "+" + score_str +' points   ',
                        icon: "info",
                        });
                     $.ajax({
                        url: 'quizz2',
                        data: {'counter': score},
                        type: 'POST'
                    }).done(function(response){
                        console.log(response);

                    });
                    window.onblur = onchange;

                }
                if (input.value != "{{ component }}" & (input.checked))
                    {
                        Swal.fire({
                        title: "Bad answer !",
                        icon: "error",

                        });
                        document.getElementById('corans').style.color = "red";
                }

          })
        });
        });


</script>
 <hr/>
</table>
<hr/>
<label id="ref"> </label>

<input type="submit" value="Submit" id="but1"  />
<b id="user_answers"> </b>
<input type="submit" value="Next" id="next" ; />
<label id="results">  </label>
</body>


<footer >
  <p> By Ismahene Mesbah -  <a href="https://www.univ-amu.fr" title="Visit w3schools">Aix-Marseille University</a></p>
</footer>

<style>
    .wrapper{
    width:600px;
    height:200px;
    margin:0 auto;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;

}

input[type=submit]:hover {
    background-color: cornflowerblue;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
h1 {
    color: cornflowerblue;
    text-align: center;
    margin:auto;

}

table{

    margin: auto;
    font-size: 20px;
}
.center{
    margin-top: -45px;

}
footer{
    text-align: center;
}

</style>
</html>
