{% load i18n %}
<html lang="en">

<head>
  <meta charset="utf-8">
    <title> Quizz 1</title>
    <div class="container-fluid text-center ">
        <h1> Types of microscopy </h1>
        <img class="center" src="/static/img/logo.png" alt="HTML5 Icon" height="50" width="50" onclick="location.href = '/BioQ/'">
    </div>

</head>
<br>

        <label style="background-color: cornflowerblue; color:white; font-size: 20px;"> {{ name }} </label>
    <br>

            <label style="background-color: cornflowerblue; color:white;font-size: 20px; text-align: right;"> Score: {{ score }} </label>

<body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>



    $(document).ready(function(){
        $("#but1").click(function()
        {
            $(".rb").show();
            $(".rb").attr("disabled", true);
            document.getElementById('ref').innerHTML += '<a href="/BioQ/explore" style="text-align: center"> click for more details </a>';



        });
    });


    $(document).ready(function(){
        $("#next").click(function(e) {
             e.preventDefault();
            document.location.reload();
        })});

</script>

<table>
    <tr>
    <td> {{ ques.question }}</td>
    </tr>

        <tr>

            {% for item in img%}
                <td>
                    <img id='image' src="/static/img/img/{{ item.name }}.jpg" width="600" height="300" style="position: center;" >
                </td>

       </tr>
    {% endfor %}


    <tr>

        {% for item in opts %}
   <td> <input type="radio" id="Opt1" class="rb" name="Opt1" value="{{ item.answer }}"  >{{ item.answer }}</td>
    </tr>

        {% endfor %}
    <td>
        <div  id="corans" class="rb" value="{{ img.mode }}"  style="display:none; color:green; text-align:center; margin:auto"; >
            <b> {{ mode }} </b> <br>
           <div class="wrapper">
               {% for it in ans %}
                {{ it.definition }}
           {% endfor %}
           </div>
        </div>
        </td>



<script>

    var score = 0;
    var score_str="";
        $(document).ready(function(){
        $("#but1").click(function() {
            document.querySelectorAll("input").forEach(input => {


                if (input.value == "{{ mode }}" & (input.checked))
                {
                    console.log("yes");
                    score++ ;
                    score_str= "" + score;
                    console.log(score);

                    console.log("{{ mode }}");
                    Swal.fire({
                        title: "Good answer !",
                        text: "+" + score_str +' point   ',
                        icon: "info",
                        });
                    $.ajax({
                        url: 'quizz1',
                        data: {'counter': score},
                        type: 'POST'
                    }).done(function(response){
                        console.log(response);

                    });
                    window.onblur = onchange;
                }



                if (input.value != "{{ mode }}" & (input.checked))
                    {
                        Swal.fire({
                        title: "Bad answer !",
                        icon: "error",

                        });
                        document.getElementById('corans').style.color = "red";
                }

          })
        });
        });



</script>



 <hr/>

</table>
<hr/>
<label id="ref"> </label>
<input type="submit" value="Submit" id="but1"  />
<b id="user_answers"> </b>
<input type="submit" value="Next" id="next"/>

</body>

<footer >
  <p> By Ismahene Mesbah -  <a href="https://www.univ-amu.fr" title="Visit w3schools">Aix-Marseille University</a></p>
</footer>

<style>
    .wrapper{
    width:600px;
    height:150px;
    margin:0 auto;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;

}

input[type=submit]:hover {
    background-color: cornflowerblue;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
h1 {
    color: cornflowerblue;
    text-align: center;
    margin:auto;

}

table{

    margin: auto;
    font-size: 20px;
}
tbody
{
    align:center;
}
.center{
    margin-top: -45px;

}
footer{
    text-align: center;
}

</style>
</html>
