<!DOCTYPE html>
<html lang="en">
<style>
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=submit] {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: cornflowerblue;
    font-size: 20px;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#h1 {
    color: cornflowerblue;
    text-align: center;


}
#intro{
    text-align: center;
    font-size: 18px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div class="container-fluid text-center "  >
    <h1 id="h1">Welcome back to BioQ</h1>
    <p id="intro"> Increase your knowledge in biology</p>
        <img class="center" src="/static/img/logo.png" alt="HTML5 Icon" style="width:100px;height:100px; margin:auto"  onclick="location.href = '/BioQ/'">
    </div>
</header>
<body>

<div id="myModel">
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}

    {{ form.password.label_tag }}
    {{ form.password }}

    {{ form.errors }}

    <input type="submit" value="Login">
  </form>
</div>

</body>
</html>