<html lang="en">
<style>
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=submit] {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: cornflowerblue;
    font-size: 20px;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#h1 {
    color: cornflowerblue;
    text-align: center;

}
h2 {
    color: cornflowerblue;
    text-align: center;

}
#intro{
    text-align: center;
    font-size: 18px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
#sub {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
</style>
<header>
    <div class="container-fluid text-center "  >
    <h1 id="h1">Welcome back to BioQ</h1>
    <p id="intro"> Increase your knowledge in biology</p>
        <img class="center" src="/static/img/logo.png" alt="HTML5 Icon" style="">
    </div>
</header>
<body>
{% block content %}
  <h2>Sign up</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id= "sub" type="submit">Sign up</button>
  </form>
    </body>
</html>
{% endblock %}
